{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

body{
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    place-items: center; */
    background: linear-gradient(45deg, #0a0a0a, #3d4248);
}

.calculator{
    padding: 15px;
    box-shadow: 0 0 15px #0c0101;
    border: 2px solid black(116,114,114);
    border-radius:15px;
}

.display input{
    width: 360px;
    border: #05070a;
    outline: #000;
    padding: 20px;
    margin: 10px;
    background: #444040;
    color: #efebeb;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}

input::placeholder{
    color: #7c7373;
}

button{
    width: 70px;
    height: 70px;
    margin: 10px;
    background: black;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    border: 0;
    border-radius: 50%;
    box-shadow: -5px -6px 15px #7aa3aa;
    outline: 1px solid #106220;
    outline-offset: 2px; 
    cursor: pointer;
}

button:active{
    background: #000;
    transform: translate(2px, 2px);
}

.opr{
    color: rgb(201, 238, 15);
    background: #1e1919;
    font-weight: 700;
}

#eqBtn{
    background: rgb(210, 17, 26);
    font-weight: 900;
}